/.idea/.gitignore
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/a.out
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/a.out
/cmake-build-debug/cmake_install.cmake
/CMakeFiles/3.23.2/CompilerIdC/a.out
/CMakeFiles/3.23.2/CompilerIdCXX/a.out
/CMakeFiles/game.dir/build.make
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-367712102bfebfe0af26.json
/.idea/Circle_rush.iml
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/CMakeFiles/cmake.check_cache
/CMakeFiles/game.dir/cmake_clean.cmake
/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/CMakeFiles/3.23.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
/CMakeFiles/3.23.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-f83fffa19844cfe06612.json
/CMakeCache.txt
/CMakeFiles/game.dir/depend.make
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/CMakeFiles/3.23.2/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-a5fa7e9b055fd75311e1.json
/CMakeFiles/game.dir/compiler_depend.internal
/CMakeFiles/game.dir/compiler_depend.make
/CMakeFiles/game.dir/compiler_depend.ts
/CMakeFiles/game.dir/DependInfo.cmake
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/CMakeFiles/circle_rush.dir/Engine.cpp.o
/CMakeFiles/game.dir/Engine.cpp.o
/CMakeFiles/game.dir/Engine.cpp.o.d
/CMakeFiles/game.dir/flags.make
/CMakeFiles/game.dir/FlyObjects.cpp.o
/CMakeFiles/game.dir/FlyObjects.cpp.o.d
/CMakeFiles/game.dir/Game.cpp.o
/CMakeFiles/game.dir/Game.cpp.o.d
/cmake-build-debug/.cmake/api/v1/reply/index-2022-07-04T12-07-40-0595.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/CMakeFiles/game.dir/link.txt
/main.cpp
/cmake-build-debug/CMakeFiles/circle_rush.dir/main.cpp.o
/CMakeFiles/game.dir/main.cpp.o
/CMakeFiles/game.dir/main.cpp.o.d
/CMakeFiles/Makefile.cmake
/CMakeFiles/Makefile2
/.idea/misc.xml
/.idea/modules.xml
/CMakeFiles/game.dir/Objects.cpp.o
/CMakeFiles/game.dir/Objects.cpp.o.d
/CMakeFiles/game.dir/Player.cpp.o
/CMakeFiles/game.dir/Player.cpp.o.d
/CMakeFiles/game.dir/progress.make
/CMakeFiles/progress.marks
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-game-Debug-85654099caa83b87f884.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/CMakeFiles/TargetDirectories.txt
/test
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ee5ca47e57a615ee224c.json
/.idea/vcs.xml
/CMakeFiles/game.dir/View.cpp.o
/CMakeFiles/game.dir/View.cpp.o.d
/cmake-build-debug/CMakeFiles/circle_rush.dir/Game.cpp.o
